@model PetCare.ViewModels.AccountViewModel[]

@if (Model.Any())
{
    @foreach (var account in Model)
    {
        <tr>
            <td>@account.Id</td>
            <td>@account.Email</td>
            <td>@account.FullName</td>
            <td>@account.PhoneNumber</td>
            <td>@account.Address</td>
            <td>
                <a href="@Url.Action("Edit", new { id = account.Id })" class="btn btn-primary btn-sm">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a href="@Url.Action("Delete", new { id = account.Id })" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="6" class="text-center">Không có tài khoản nào.</td>
    </tr>
}
